*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f4fff4;
  color:#333;
}

header{
  background:#2e7d32;
  color:white;
  text-align:center;
  padding:30px;
}

nav{
  background:#1b5e20;
  padding:15px;
  text-align:center;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-weight:bold;
}

nav a:hover{
  color:#c8e6c9;
}

.banner{
  background-image:url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1400');
  background-size:cover;
  background-position:center;
  height:500px;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.banner-texto{
  background:rgba(0,0,0,0.5);
  padding:30px;
  border-radius:10px;
  color:white;
  width:80%;
}

.banner h2{
  font-size:40px;
  margin-bottom:20px;
}

.banner p{
  font-size:20px;
  margin-bottom:20px;
}

button{
  background:#43a047;
  color:white;
  border:none;
  padding:12px 25px;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#2e7d32;
}

#mensagem{
  margin-top:20px;
  font-size:18px;
  font-weight:bold;
}

.conteudo{
  padding:60px 20px;
  text-align:center;
}

.conteudo h2{
  color:#2e7d32;
  margin-bottom:20px;
  font-size:32px;
}

.conteudo p{
  max-width:800px;
  margin:auto;
  font-size:20px;
}

.cards{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  padding:40px;
}

.card{
  background:white;
  width:300px;
  padding:25px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.card h3{
  color:#2e7d32;
  margin-bottom:15px;
}

.galeria{
  padding:50px 20px;
  text-align:center;
}

.galeria h2{
  margin-bottom:30px;
  color:#2e7d32;
}

.imagens{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.imagens img{
  width:300px;
  height:200px;
  object-fit:cover;
  border-radius:10px;
  transition:0.3s;
}

.imagens img:hover{
  transform:scale(1.05);
}

footer{
  background:#1b5e20;
  color:white;
  text-align:center;
  padding:25px;
  margin-top:40px;
}

@media(max-width:768px){

  .banner h2{
    font-size:28px;
  }

  .banner p{
    font-size:16px;
  }

  .cards{
    flex-direction:column;
    align-items:center;
  }

}.
